
// .footer {
//     background-color: #3f51b5; // Primary color
//     color: white;
//     padding: 10px;
    
//     mat-toolbar-row {
//       display: flex;
//       justify-content: space-between;
//       align-items: center;
//     }
  
//     .spacer {
//       flex: 1 1 auto;
//     }
//   }
  

mat-toolbar.footer {
    background-color: #3f51b5; // Primary color
    color: white;
    .mat-toolbar-row {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .spacer {
      flex: 1;
    }
  }
  